<div class="row">
    <div id="reset" class="col s6 offset-s3">
        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}
        <h1>Новый пароль</h1>
        <form action="/auth/reset-password" method="POST">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate auto-complete" required autocomplete>
                <label for="password">Password</label>
                <span class="helper-text" data-error="Введите пароль" required=""></span>
            </div>
            
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">
            
            <button class="btn btn-primary" type="submit">Изменить пароль</button>
        </form>
    </div>
</div>